*{
    padding: 0;
    margin: 0;
}
.cards{
    width: 80%;
    margin-left: 10%;
}
.card{
width: 27%;   
float: left;
margin: 3%;
}
.card > img{
width: 100%;
}
.card > h1{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card > p{
    margin-bottom: 10px;
}
.card > button{
    padding: 5px 15px;
    border: none;
    background-color: bisque;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    transition: 1s;
}
.card > button:hover{
    background-color: white;
    color: crimson;
}